:root{
        --primaryColor:#fe206e;
        --mainFont:"Open Sans", sans-serif;
}

.text_primary{
    color:var(--primaryColor);
}
body {
    font-family:var(--mainFont) ;
}

.navbar .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.show{
    color: var(--primaryColor);
}

.hero{
    height: calc(100vh - 56px);
    background-image: url(./img/bg.jpg);
    background-size:cover ;
    background-position: -100px;
}

.hero a{
    color: var(--primaryColor);
}

.about{
    background-image: url(./img/light_dot.jpg);
}